<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <connectionStrings>
    <add name="SMS" providerName="System.Data.sqlclient" connectionString=""/>
    <add name="SMSLogin" connectionString="Data Source=103.120.179.240;initial Catalog=202021;uid=sa;pwd=sai$500"/>
    <add name="NEWCCE" connectionString="Data Source=103.120.179.240;Integrated Security=false;Initial Catalog=CCEExam;uid=sa;pwd=sai$500;"></add>
    <add name="iSAS" connectionString="Data Source=103.120.179.240;Integrated Security=false;Initial Catalog=iSAS_BVS_2122;uid=sa;pwd=sai$500;"></add>
  </connectionStrings>
  <appSettings>
    <add key="r" value="255"/>
    <add key="g" value="255"/>
    <add key="b" value="255"/>
    <add key="LW" value="1399"/>
    <add key="LH" value="768"/>
    <add key="Db" value="103.120.179.240"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="MarkEntryBy" value="AdmNo"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
