<section class="content-header">
    <h1> Download Undertaking Form </h1>
</section>
<section class="content">
<div class="box box-success">

    <div class="box-header">

    </div>
    <div class="box-body">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <table id="example1" class="table table-responsive table-bordered table-condensed display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Sno.</th>
                        <th>Name</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                        <tr>
                            <td>1.
                            <td>IX Class Registration Undertaking</td>
                            <td class="text-center">@Html.ActionLink(" ", "DownloadForm", "Student_Undertaking", new { }, htmlAttributes: new { @class = "fa fa-download btnDefaultColor", title = "Download Report" })</td>
                        </tr>
                </tbody>


            </table>
        </div>
    </div>
    <div class="box-footer">

    </div>
</div>
    
</section>