@model ISas.Entities.Academic.Academic_DocumentMappingModel
@{
    ViewBag.Title = "New";
}

<div class="row">
    <div class=" col-xs-12 col-sm-6 col-md-6">
        <div class="" style="overflow-y:auto;">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            @Html.CheckBox("chkBoxStaffAllSelect", htmlAttributes: new { onchange = "checkToSelectAllStaff()" })
                        </th>
                        <th>Document</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.DocumentList.Count; i++)
                    {
                        <tr>
                            <td>

                                @Html.HiddenFor(r => Model.DocumentList[i].DocumentId)
                                @Html.CheckBoxFor(r => Model.DocumentList[i].Selected, htmlAttributes: new { @class = "chkBoxDocument " })
                            </td>
                            <td>
                                @Html.DisplayFor(r => Model.DocumentList[i].DocumentName)
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function checkToSelectAllStaff() {
        if ($('#chkBoxStaffAllSelect').is(':checked')) {
            $('.chkBoxDocument').prop('checked', true);
        }
        else {
            $('.chkBoxDocument').prop('checked', false);
        }
    }
</script>