<script src="~/bower_components/datatables.net/js/dataTables.buttons.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.flash.min.js"></script>
<script src="~/bower_components/datatables.net/js/jszip.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/pdfmake.min.js"></script>
<script src="~/bower_components/datatables.net/js/vfs_fonts.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
<script src="~/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">

<section class="content-header">
    <h1>SMS Reports</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>SMS</li>
        <li>Reports</li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        @*<div class="box-header with-border">
            <h5 class="box-title pull-right">
                <a href="#" onclick="exportToExcel('tblSMSReport')" title="Export to Excel" class="fa fa-file-excel-o btnDefaultColor"></a>
            </h5>
            <span class="box-title pull-right" style="padding-right:0.5%;">
                <a href="#" onclick="printSMSReport()" title="Print" class="fa fa-print btnDefaultColor"></a>
            </span>
        </div>*@
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="">@Html.Label("Date")</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBox("Date", DateTime.Now.ToShortDateString().Replace("-", "/"), htmlAttributes: new { @class = "form-control pull-right date" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-1">
                    <div class="form-group">
                        <br />
                        <div class="select">
                            <h5>
                                <button type="button" class="btn btn-success btnDefaultColor" onclick="getSMSReport()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="mainReportDiv" style="overflow-x:scroll">
                        @{ Html.RenderAction("_SMS_ReportMain", "SMS_Report", new { Date = DateTime.Now.ToShortDateString().Replace("-", "/") }); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    //function printSMSReport() {
    //    var html = $('#tblSMSReport').html();
    //    //html += $('#transportListMainDiv').html();
    //    var w = window.open();
    //    $(w.document.body).html(html);
    //    w.print();
    //    //w.close();
    //}

    function getSMSReport() {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../SMS_Report/_SMS_ReportMain",
            data: { Date: $("#Date").val() },
            error: function (xhr, status, error) {
                OpenMessegeModal($('#ErrorMsgOnJasonFailed').val());
            },
            success: function (result) {
                $('#mainReportDiv').html(result);
            },
            complete: function () {
                spinnerHide();
            }
        });
    }


    function getSMSDeliveryCount(GID) {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../SMS_Report/_MessegeDeliveryCount",
            data: { GID: GID },
            error: function (xhr, status, error) {
                OpenMessegeModal($('#ErrorMsgOnJasonFailed').val());
            },
            success: function (result) {
                OpenMessegeModal(result, 'Primary', 'lg', 'Delivery Status Summary');
            },
            complete: function () {
                spinnerHide();
            }
        });
    }

</script>