@model List<ISas.Entities.Exam_Entities.classAssessmentList>
<div>
    <table id="example1" class="table table-responsive table-bordered table-condensed display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Assessment</th>
                <th>is Locked?</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {

                <tr>
                    <td>
                        @Html.HiddenFor(r => Model[i].classId, htmlAttributes: new { id = "classId_" + @i + "" })
                        @Html.HiddenFor(r => Model[i].assessmentId, htmlAttributes: new { id = "assId_" + @i + "" })
                        @Html.DisplayFor(r => Model[i].assessmentName)
                    </td>
                    <td class="text-center">
                        @if (Model[i].isLocked)
                        {
                            <label class="switch">
                                <input id="Locked_@i" type="checkbox" checked="checked" onchange="ConfirmToUpdateStatus(@i)">
                                <span class="slider round"></span>
                            </label>
                        }
                        else
                        {
                            <label class="switch">
                                <input id="Locked_@i" type="checkbox" onchange="ConfirmToUpdateStatus(@i)">
                                <span class="slider round"></span>
                            </label>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script>


    function ConfirmToUpdateStatus(i) {
        var activeStatus = false;
       // alert($('#classId_' + i).val());
        if ($('#Locked_' + i).is(':checked')) {
            activeStatus = true;
        }
        $.ajax({
            type: "POST",
            url: "../Exam_Locking/Exam_LockingModels_CRUD",
            data: { classId: $('#classId_' + i).val(), assId: $('#assId_' + i).val(), value: activeStatus },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                OpenMessegeAutoHideDiv(result.Msg, result.Color);
            },
        });
    }
</script>