@{
    List<SelectListItem> tempClassSecList = ViewBag.ClassSecList;
    List<SelectListGroup> classGroupList = tempClassSecList.Select(r => r.Text.Substring(0, r.Text.Length - 2)).Distinct().Select(r => new SelectListGroup
    {
        Name = r,
        Disabled = false
    }).ToList();

    List<SelectListItem> classSecList = tempClassSecList.Select(r => new SelectListItem
    {
        Text = r.Text,
        Value = r.Value
    }).ToList();

    for (int i = 0; i < classSecList.Count; i++)
    {
        string className = classSecList[i].Text.Substring(0, classSecList[i].Text.Length - 2);
        classSecList[i].Group = classGroupList.Where(r => className == r.Name).FirstOrDefault();
    }
}
<section class="content-header">
    <h1>Board Certificate</h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Students</li>
        <li class="active">Board Certificate</li>
    </ol>
</section>
<section class="content">
    <div class="box box-widget">
        <div class="box-body">
            <div class="row">

                <div class="col-md-4 form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">Select Class</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("ClassSectionIds", classSecList, htmlAttributes: new { @class = "form-control multiSelectWithSelectOptGrp", multiple = true, style = "width:100%;" })
                            @Html.ValidationMessage("ClassSectionIds", null, htmlAttributes: new { style = "color:red;" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio">
                        @*<label><input type="radio" name="optionsRadios" value="StudentIdentityCard" checked="checked">Identity  Card</label>*@
                        <label><input type="radio" name="optionsRadios" value="BoardCertificate" checked="checked">Board Certificate (XI Only)</label>
                        <label><input type="radio" name="optionsRadios" value="StudentCollectionCard">Student Collection Card</label>
                        <label><input type="radio" name="optionsRadios" value="Bonafide">Bonafide Certificate</label>
                        <label><input type="radio" name="optionsRadios" value="BusPass">Bus Pass</label>
                        <label><input type="radio" name="optionsRadios" value="Snack">Snack Card</label>
                        @*<label><input type="radio" name="optionsRadios" value="ICardReport" checked="checked">Identity  Card</label>
        <label><input type="radio" name="optionsRadios" value="AdmitCard">Admit Card</label>
        <label><input type="radio" name="optionsRadios" value="DefaulterAdmitCard">Defaulter Admit Card</label>*@
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="button" onclick="GetStudentDetails()" value="Filter Student" class="btn btn-success" />
                </div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <div id="studentDetailsMainDiv"></div>
        </div>
    </div>
</section>

<script>
    function GetStudentDetails() {
        //alert($('input[name=optionsRadios]:checked').val());
        $('#studentDetailsMainDiv').html('');
        var tempClassSecId = "";
        var classSecIds = $('#ClassSectionIds').val();  //$("#hddnClassSectionId").val()
        if (classSecIds == null || classSecIds == "") {
            OpenMessegeModal('No class selected..!', 'Warning');
            return false;
        } else {
            tempClassSecId = classSecIds.toString();
        }

        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: '../Student_IdentityCard/_IdentityCard_StudentDetails',
            data: { ClassSectionIds: tempClassSecId, ReportName: $('input[name=optionsRadios]:checked').val() },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                $('#studentDetailsMainDiv').html(response);
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
</script>
