@model ISas.Entities.Exam_Entities.ExamReportcardTemplateModels
<section class="content-header">
    <h1> Report card template </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Exam</li>
        <li>Report card template</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("ReportcardTemplate_CRUD", "Exam_ReportcardTemplate", FormMethod.Post, htmlAttributes: new { }))
    {
        <div class=" box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <label for="">@Html.LabelFor(r => Model.examId)</label>

                        <div class="form-group">
                            <div class="select">
                                @Html.DropDownListFor(m => m.examId, new SelectList(Model.examList, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control select2", style = "width:100%;", onchange = "GetReportcardTemplateList()" })
                                @Html.ValidationMessageFor(r => Model.examId, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div id="ReportcardtemplateListDiv">
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button class="btn btn-info" id="savebutton" type="button" onclick="DoAjaxPostAndMore(this)">Save</button>
                <button class="btn btn-default" type="button" onclick="window.location.reload()">Reset</button>
            </div>
        </div>
    }
    </section>
<script>
    function GetReportcardTemplateList() {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: '../Exam_ReportcardTemplate/_ReportcardTemplateList',
            data: { examId: $('#examId').val() },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                $('#ReportcardtemplateListDiv').html(response);
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
    function DoAjaxPostAndMore(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $.ajax({
            type: "POST",
            beforeSend: function () {
                spinnerShow();
            },
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                if (response.status == 'success') {
                    OpenMessegeAutoHideDiv(response.Msg, 'Success');

                }
                else {
                    AddErrorAttributeCSS(response.ErrorList); //Available in CustomCommon.js
                    AddValidAttributeCSS(response.ValidKeyList); //Available in CustomCommon.js
                }
            },
            complete: function () {
                spinnerHide();
            }
        });
        return false;
    }

    

</script>
