@model ISas.Entities.SMSManagement.SMS_MainModel

<section class="content-header">
    <h1>SMS Sending</h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>SMS</li>
        <li class="active">SMS Sending</li>
    </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#tab1" data-toggle="tab">SMS To Student</a></li>
            <li><a href="#tab2" data-toggle="tab">SMS To Staff</a></li>
            <li><a href="#tab3" data-toggle="tab">Outbox</a></li>
            <content class="pull-right" style="padding-right:2%;"><h4>SMS Credit Balance : <span class="text-primary" style="font-weight:800"> @Html.DisplayFor(r => Model.DropDownList.CreditBalance) </span> </h4></content>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                @{ Html.RenderPartial("SMStoStudentMainPage", Model); }
            </div>
            <div class="tab-pane" id="tab2">
                @{ Html.RenderPartial("SMStoStaffMainPage", Model); }
            </div>
            <div class="tab-pane" id="tab3">
                @{ Html.RenderPartial("OutboxMainPage", Model); }
            </div>
        </div>
    </div>
</section>