@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
    int cellCount = 0;
    int noOfRows = 9;
    int barCodeEachRow = 3;
    int totalBarcodeOnPage = noOfRows * barCodeEachRow;

    int quotient = @ViewBag.barcode.Count / totalBarcodeOnPage;
    int remainder = @ViewBag.barcode.Count % totalBarcodeOnPage;
    int val_i_count = 0;
}
<link href="~/bower_components/pageSize/PageSize.css" rel="stylesheet" />

@for (int i = 0; i < quotient; i++)
{
    @*<page size="A4" layout="landscape">*@
    <page size="A4">
        <table style="width:100%;">
            @for (int j = 0; j < @totalBarcodeOnPage; j++)
            {
                cellCount++;
                if (cellCount == 1)
                {
                    @:<tr>
                }

                    <td style="padding:8px;">
                        <img src="@ViewBag.barcode[@val_i_count]" />
                    </td>

                    if (cellCount == @barCodeEachRow)
                    {
                        cellCount = 0;
                    @:</tr>
                }
                val_i_count++;
            }
        </table>
    </page>
}
@if (remainder > 0)
{
    <page size="A4">
        <table style="width:100%;">
            @for (int j = 0; j < remainder; j++)
            {
                cellCount++;
                if (cellCount == 1)
                {
                    @:<tr>
                    }

                    <td style="padding:8px;">
                        <img src="@ViewBag.barcode[@val_i_count]" />
                    </td>

                    if (cellCount == @barCodeEachRow)
                    {
                        cellCount = 0;
                    @:</tr>
                }
                val_i_count++;
            }
        </table>
    </page>
}
