@model ISas.Entities.UserEntities.UserCreationModels

<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">@Html.LabelFor(r => Model.RoleID)</label>
                <div class="select">
                    @Html.DropDownListFor(m => m.RoleID, new SelectList(Model.UserRoleList, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control select2", style = "width:100%;" })
                    @Html.ValidationMessageFor(r => Model.RoleID, null, htmlAttributes: new { style = "color:red;" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button class="btn btn-success pull-right" type="button" onclick="DoAjaxPostAndMore(this)">SAVE</button>
   
</div>



<script>

    function DoAjaxPostAndMore(btnClicked) {

        var $userrefNo = '@Model.SelectedUserOrStaffID';
        $.ajax({
            type: "POST",
            beforeSend: function () {
                spinnerShow();
            },
            url: '../UserCreation/UserCreation_CRUD',
            data: {
                userReferenceNo: $userrefNo, userType: "", roleId: $('#RoleID').val(),mode: "CHANGEROLE"
            },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                if (response.status == 'success') {
                    OpenMessegeAutoHideDiv(response.Msg, response.Color);
                    
                }
                else {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnModelStateNotValid').val());
                    AddErrorAttributeCSS(response.ErrorList); //Available in CustomCommon.js
                    AddValidAttributeCSS(response.ValidKeyList); //Available in CustomCommon.js
                }
            },
            complete: function () {
                spinnerHide();
            }
        });
    }

</script>