@model List<ISas.Entities.Exam_Entities.ClassSubject>
@{
    int rowlength = 0;
    if (Model != null && Model.Count > 0)
    {
        rowlength = Model.Count;
    }
}
<!-- /.box -->
<div class="box box-primary">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <div class="box-title">
            <h5 class="box-title">Class Subject</h5>
        </div>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Subject</th>
                    <th>Assessment</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    int count = 1;
                    for (int i = 0; i < Model.Count(); i++)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(r => count)
                    </td>
                    <td>

                        @Html.DisplayFor(r => Model[i].SubjectName)
                    </td>
                    <td>

                        @Html.DisplayFor(r => Model[i].AssessmentName)
                    </td>
                </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
    $(function () {
        //alert(@rowlength);
        $('#example1').DataTable();
        $('#hddnRowLenght').val('@rowlength');
    });
</script>